{% extends 'base.html.twig' %}

{% block meta %}
{{ parent() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <ul>
        <li>{% include 'components/_button.html.twig' with {label: 'Twitch', icon: '@images/icons/twitch.svg', link: 'https://twitch.tv/codinkitchen', width: "w-72"} only %}</li>
        <li>{% include 'components/_button.html.twig' with {label: 'Discord', icon: '@images/icons/discord.svg', link: 'https://discord.gg/QgxHhQtM8k', width: "w-72"} only %}</li>
        <li>{% include 'components/_button.html.twig' with {label: 'GitHub', icon: '@images/icons/github.svg', link: 'https://github.com/codinKitchen', width: "w-72"} only %}</li>
        <li>{% include 'components/_button.html.twig' with {label: 'Instagram', icon: '@images/icons/instagram.svg', link: 'https://www.instagram.com/codin.kitchen/', width: "w-72"} only %}</li>
    </ul>
</div>
{% endblock %}