<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<title>
			{% block title %}CodinKitchen{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="font-regular">
		{% block header %}
			{% include 'layout/_header.html.twig' %}
			{% for message in app.flashes('notice') %}
				<div class="flex justify-center p-4 mx-auto mb-4 text-sm text-blue-500 bg-blue-100 rounded-lg md:w-2/3" role="alert">
					<svg class="inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
					<div>{{ message }}</div>
				</div>
			{% endfor %}
		{% endblock %}
		{% block body %}
			<div class="container px-4 py-4 mx-auto md:px-20">
				{% block content %}{% endblock %}
			</div>
		{% endblock %}
	</body>
</html>
