<nav class="px-4 py-6 mb-20 border-b-2 border-gray-100">
	<div class="flex items-center justify-between mx-auto max-w-7xl md:justify-start">
		<a href="{{ path('home') }}" class="grow">
			<img class="inline-block w-auto h-8 sm:h-10" src="{{ asset('build/images/logo_codinkitchen.png') }}" alt="">
			<span class="inline-block text-xl align-middle md:ml-5">CodinKitchen</span>
		</a>
		<a href="https://twitch.tv/codinkitchen" class="ml-2 hover:text-cyan-700">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitch" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M4 5v11a1 1 0 0 0 1 1h2v4l4 -4h5.584c.266 0 .52 -.105 .707 -.293l2.415 -2.414c.187 -.188 .293 -.442 .293 -.708v-8.585a1 1 0 0 0 -1 -1h-14a1 1 0 0 0 -1 1z"></path>
				<line x1="16" y1="8" x2="16" y2="12"></line>
				<line x1="12" y1="8" x2="12" y2="12"></line>
			</svg>
		</a>
		<a href="https://discord.gg/FRrhRgtz" class="ml-2 hover:text-cyan-700">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-discord" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<circle cx="9" cy="12" r="1"></circle>
				<circle cx="15" cy="12" r="1"></circle>
				<path d="M7.5 7.5c3.5 -1 5.5 -1 9 0"></path>
				<path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
				<path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5"></path>
				<path d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5"></path>
			</svg>
		</a>
		<a href="https://www.instagram.com/codin.kitchen/" class="ml-2 hover:text-cyan-700">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<rect x="4" y="4" width="16" height="16" rx="4"></rect>
				<circle cx="12" cy="12" r="3"></circle>
				<line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
			</svg>
		</a>
		<a href="https://github.com/codinKitchen" class="ml-2 hover:text-cyan-700">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
			</svg>
		</a>
	</div>
</nav>
