<nav class="px-4 py-6 mb-20 border-b-2 border-gray-100">
	<div class="flex items-center justify-between mx-auto max-w-7xl md:justify-start">
		<a href="{{ path('home') }}" class="grow">
			<img class="inline-block w-auto h-8 sm:h-10" src="{{ asset('build/images/logo_codinkitchen.svg') }}" alt="">
			<span class="inline-block text-xl align-middle md:ml-5">CodinKitchen</span>
		</a>
		<a href="https://twitch.tv/codinkitchen" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/twitch.svg" %}
		</a>
		<a href="https://discord.gg/FRrhRgtz" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/discord.svg" %}
		</a>
		<a href="https://www.instagram.com/codin.kitchen/" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/instagram.svg" %}
		</a>
		<a href="https://github.com/codinKitchen" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/github.svg" %}
		</a>
		<a href="#" class="pl-2 ml-2 border-l-2 border-gray-400 hover:text-cyan-700">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<circle cx="12" cy="12" r="9"></circle>
				<circle cx="12" cy="10" r="3"></circle>
				<path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
			</svg>
		</a>
	</div>
</nav>
