<nav class="px-4 py-6 mb-20 border-b-2 border-gray-100">
	<div class="flex items-center justify-between mx-auto max-w-7xl md:justify-start">
		<a href="{{ path('home') }}" class="grow">
			<img class="inline-block w-auto h-8 sm:h-10" src="{{ asset('build/images/logo_codinkitchen.svg') }}" alt="">
			<span class="inline-block text-xl align-middle md:ml-5">CodinKitchen</span>
		</a>
		<a href="https://twitch.tv/codinkitchen" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/twitch.svg" %}
		</a>
		<a href="https://discord.gg/QgxHhQtM8k" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/discord.svg" %}
		</a>
		<a href="https://www.instagram.com/codin.kitchen/" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/instagram.svg" %}
		</a>
		<a href="https://github.com/codinKitchen" class="ml-2 hover:text-cyan-700">
			{% include "@images/icons/github.svg" %}
		</a>
	</div>
</nav>
